<ion-grid class="ion-grid-vertical" align="center">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="numeros" (click)="onReproductor(1)">
        <img src="../../assets/img/numeros/Uno.png" height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="numeros" (click)="onReproductor(2)">
        <img src="../../assets/img/numeros/Dos.png" height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="numeros" (click)="onReproductor(3)">
        <img src="../../assets/img/numeros/Tres.png" height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="numeros" (click)="onReproductor(4)">
        <img src="../../assets/img/numeros/Cuatro.png" height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="numeros" (click)="onReproductor(5)">
        <img src="../../assets/img/numeros/Cinco.png" height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="numeros" (click)="onReproductor(6)">
        <img src="../../assets/img/numeros/Seis.png" height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="ion-grid-horizontal" align="center">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="numeros" (click)="onReproductor(1)">
        <img src="../../assets/img/numeros/Uno.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="numeros" (click)="onReproductor(2)">
        <img src="../../assets/img/numeros/Dos.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="numeros" (click)="onReproductor(3)">
        <img src="../../assets/img/numeros/Tres.png" height="100px" width="100px">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">    
    <ion-col>
      <button class="numeros" (click)="onReproductor(4)">
        <img src="../../assets/img/numeros/Cuatro.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="numeros" (click)="onReproductor(5)">
        <img src="../../assets/img/numeros/Cinco.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="numeros" (click)="onReproductor(6)">
        <img src="../../assets/img/numeros/Seis.png" height="100px" width="100px">
      </button>
    </ion-col>
  </ion-row>
</ion-grid>


