<ion-grid class="ion-grid-vertical" align="center">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="animales" style="background-color: coral;"  (click)="onReproductor(1)">
        <img src="../../assets/img/animales/Vaca.png" height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="animales" style="background-color: cornflowerblue;"  (click)="onReproductor(2)">
        <img src="../../assets/img/animales/Caballo.png"  height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="animales" style="background-color: hotpink;"  (click)="onReproductor(3)">
        <img src="../../assets/img/animales/Oveja.png"  height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="animales" style="background-color: orange;"  (click)="onReproductor(4)">
        <img src="../../assets/img/animales/Cerdo.png"  height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="animales" style="background-color: palegreen;"  (click)="onReproductor(5)">
        <img src="../../assets/img/animales/Gallina.png"  height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="animales" style="background-color: tomato;"  (click)="onReproductor(6)">
        <img src="../../assets/img/animales/Perro.png"  height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid class="ion-grid-horizontal" align="center">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="animales" style="background-color: coral;"  (click)="onReproductor(1)">
        <img src="../../assets/img/animales/Vaca.png"  height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="animales" style="background-color: cornflowerblue;"  (click)="onReproductor(2)">
        <img src="../../assets/img/animales/Caballo.png"  height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="animales" style="background-color: hotpink;"  (click)="onReproductor(3)">
        <img src="../../assets/img/animales/Oveja.png"  height="100px" width="100px">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="animales" style="background-color: orange;"  (click)="onReproductor(4)">
        <img src="../../assets/img/animales/Cerdo.png"  height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="animales" style="background-color: palegreen;"  (click)="onReproductor(5)">
        <img src="../../assets/img/animales/Gallina.png"  height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="animales" style="background-color: tomato;"  (click)="onReproductor(6)">
        <img src="../../assets/img/animales/Perro.png"  height="100px" width="100px">
      </button>
    </ion-col>
  </ion-row>
</ion-grid>