<ion-grid class="ion-grid-vertical" align="center">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="colores" style="background-color: white; " (click)="onReproductor(1)">
        <img src="../../assets/img/colores/Blanco.png"  height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="colores" style="background-color: black;" (click)="onReproductor(2)">
        <img src="../../assets/img/colores/Negro.png"  height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="colores" style="background-color: red;" (click)="onReproductor(3)">
        <img src="../../assets/img/colores/Rojo.png"  height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="colores" style="background-color: blue;" (click)="onReproductor(4)">
        <img src="../../assets/img/colores/Azul.png"  height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="colores" style="background-color: yellow;" (click)="onReproductor(5)">
        <img src="../../assets/img/colores/Amarillo.png"  height="auto" width="auto">
      </button>
    </ion-col>
    <ion-col>
      <button class="colores" style="background-color: green;" (click)="onReproductor(6)">
        <img src="../../assets/img/colores/Verde.png"  height="auto" width="auto">
      </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="ion-grid-horizontal" align="center">
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="colores" style="background-color: white; " (click)="onReproductor(1)">
        <img src="../../assets/img/colores/Blanco.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="colores" style="background-color: black;" (click)="onReproductor(2)">
        <img src="../../assets/img/colores/Negro.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="colores" style="background-color: red;" (click)="onReproductor(3)">
        <img src="../../assets/img/colores/Rojo.png" height="100px" width="100px">
      </button>
    </ion-col>    
  </ion-row>
  <ion-row style="flex-grow: 1;">
    <ion-col>
      <button class="colores" style="background-color: blue;" (click)="onReproductor(4)">
        <img src="../../assets/img/colores/Azul.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="colores" style="background-color: yellow;" (click)="onReproductor(5)">
        <img src="../../assets/img/colores/Amarillo.png" height="100px" width="100px">
      </button>
    </ion-col>
    <ion-col>
      <button class="colores" style="background-color: green;" (click)="onReproductor(6)">
        <img src="../../assets/img/colores/Verde.png" height="100px" width="100px">
      </button>
    </ion-col>
  </ion-row>
</ion-grid>